on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  zapdasttest:
    runs-on: ubuntu-latest
    name: zap-dast-test

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'microsoft'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Clear Gradle cache
      run: rm -rf $HOME/.gradle/caches/

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    # - name: Build with Gradle Wrapper
    #   run: ./gradlew build -x test


    # - name: Log in to Docker Hub
    #   uses: docker/login-action@v2
    #   with:
    #     username: ${{ secrets.DOCKER_USERNAME }}
    #     password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Log in to the Container registry
      uses: docker/login-action@v2.1.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Docker Compose
      run: |
        sudo curl -L "https://github.com/docker/compose/releases/download/$(curl -s https://api.github.com/repos/docker/compose/releases/latest | grep -Po '"tag_name": "\K.*?(?=")')/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose

    - name: Build and Start the Application with TestContainers
      run: |
        ./gradlew build -x test
        docker-compose -f docker-compose.yml up -d # Ensure your app starts with Docker
      
    # - name: Start ZAP in daemon mode
    #   run: |
    #     docker run -d --name zap -p 8081:8080 ghcr.io/zaproxy/zaproxy:stable zap.sh -daemon -port 8080

    # - name: Wait for ZAP to start
    #   run: |
    #     until curl -s http://localhost:8081; do sleep 5; done

    # - name: Run ZAP Security Scan
    #   run: |
    #     docker exec zap zap-cli quick-scan --self-contained --start-options '-config api.disablekey=true' http://host.docker.internal:8080

    - name: Run ZAP OWASP full scan
      uses: zaproxy/action-full-scan@v0.4.0
      with:
        docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
        token: ${{ secrets.GITHUB_TOKEN }}
        target: 'http://localhost:9090'
        cmd_options: '-a -j -l WARN -z "-addoninstallall" '
        allow_issue_writing: true

    - name: Save SARIF report
      run: |
        docker exec zap zap-cli report -o /zap/reports/zap-report.sarif -f sarif
        docker cp zap:/zap/reports/zap-report.sarif ./zap-report.sarif

    - name: Upload SARIF Report to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: zap-report.sarif